body {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bgimg {
    display: flex;
    opacity: 70%;
    width: 40%;
    height: 50%;
    margin: auto;
}

.menu {
    display: flex;
    position: fixed;
    width: 1000px;
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0 !important;
    margin: auto;
    border: 2px  black;
    background-color: rgb(113, 113, 118);
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 10px;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display: block;
    min-width: 120px;
    margin: 6%;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 17%;
    color: black;
}

h1 {
    position: relative;
    width: 722px;
    padding: 50px;
    padding-top: 150px;
    margin: auto;
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(113, 143, 162), 0 0 8px rgb(110, 110, 122);
}

div.title {
    font-size: 35px;
    display: block;
    margin: 40px;
    padding: 15px;
    text-align: center;
}

div.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px ;
}

.p1 {
    display: block;
    flex: auto;
    width: auto;
    height: auto;
    padding: 9%;
    margin: 20px;
    border-radius: 17%;
    text-align: center;
    align-items: flex-start;
    background-color: rgb(113, 113, 118, 0.733);
    font-size: 40px;
}

.img1 {
    flex : auto;        
    width: auto ;
    height: auto;
    align-items: flex-start;
    margin-left: 80px;
    padding: 5px;
    margin: 0;
    margin-bottom: 40px;
    border: 2px dashed black;
    border-radius: 10%;
}

.img2 {
    flex: content;
    width: 200px !important;
    height: 350px !important;
    padding: 5px;
    margin: 0;
    align-items: flex-start;
    justify-content: left;
    border: 2px dashed black;
    border-radius: 10%;
}

.p2 {
    display: block;
    flex:auto;
    width: auto;
    height: auto;
    padding: 9%;
    margin: 20px;
    border-radius: 17%;
    text-align: center;
    align-items: flex-start;
    justify-content: right;
    background-color: rgb(113, 113, 118, 0.733); 
    font-size: 40px;
}

.img3 {
    justify-content: center;
    flex-flow: row wrap;
    width: 30%;
    opacity: 70%;
}

.div4 {
    display: flex;
    justify-content: center;
}

.p3 {
    display: block;
    flex:auto;
    width: auto;
    height: 250px;
    padding: 5px;
    border: 2px black;
    border-radius: 15%;
    text-align: center;
    align-items: center;
    justify-content: right;
    background-color: rgb(113, 113, 118, 0.733); 
}

.reseau {
    width : 5%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 930px) {

    h1 {
        width: 500px;
        padding-top: 100px;
    }

    .menu {
        width: 50%;
        margin: 0;
    }

    .menu a {
        min-width: 70px;
        justify-content: space-between;
    }

    .p1 {
        font-size: 30px;
    }

    .img1 {
        width: 40%;
    }

    .img2 {
        width: 35%;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .p2 {
        margin-top: 30px;
        font-size: 30px;
    }
}